.app {
  text-align: center;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
